.feature
  padding unit * 15 0

  & > div
    width page-width
    margin 0 auto

  h2
    margin-bottom unit * 5
    line-height unit * 5
    font-size unit * 4
    font-weight 300
    code
      box-shadow inset 0 0 0 1px rgba(accent, .07)
      background-color rgba(accent, .04)
      border-radius radius * 2.5
      padding 0 unit * 1.5 4px
      font-weight 300
      color accent

  .content
    justify-content space-between
    font-size 1.7 * unit
    color darken(light, 30%)
    display flex

    & > *:first-child
      line-height 4 * unit
      font-size 2 * unit
      width 38 * unit

  p code
    box-shadow inset 0 0 0 1px rgba(accent, .07)
    background-color rgba(accent, .04)
    border-radius radius * 1.5
    padding 0 5px 3px
    color accent

  .syntax
    box-shadow 0 0 0 1px rgba(136,152,170,.1), 0 15px 35px rgba(49,49,93,.1), 0 5px 15px ghost
    background-color white
    border-radius radius * 2
    font-size unit * 1.5
    padding unit * 2 unit * 3
