.header
  justify-content space-between
  line-height unit * 7
  align-items center
  margin unit * 2 auto 0
  width page-width
  height unit * 7
  padding unit 0
  display flex

  .text
    background-image url('/static/imgs/xene-text.svg')
    background-repeat no-repeat
    height 20px; width 86px
    display inline-block

  .buttons
    align-items center
    display flex

    .link
      text-transform uppercase
      margin-right unit * 3
      line-height unit * 2
      font-size 1.5 * unit
      align-items center
      font-weight 700
      box-shadow none
      display flex

      .github
        background-image url('/static/imgs/github.svg')
        margin-right 4px
        height unit * 2
        width unit * 2
