.hero
  border-bottom 1px solid ghost
  margin unit * 14 auto 0
  height 95 * unit
  width pageWidth

  .logo
    margin 0 auto

  .headline
    line-height unit * 6
    margin-top unit * 3
    font-size unit * 5
    text-align center
    font-weight 300
    color dark

  .subline
    font-size 2.25 * unit
    line-height unit * 3
    margin-top unit * 3
    text-align center
    color light
