.page.main
  .background
    // background-image linear-gradient(0deg, white 0%, #F1F3F5 63%, #E9ECEF 100%)
    height 500px; width 100%
    fixed left top
    z-index -1

  @import 'hero'
  @import 'feature'
  @import 'footer'

