@import 'vars'

sidebarWidth = unit * 32

.docs
  background transparent
  @import 'sidebar'
  @import 'content'
  @import 'loader'

  // .demo
  //   position fixed
  //   top unit * 3; right unit * 3; bottom: unit * 3
  //   width unquote("calc((100% - " + sidebarWidth + ") / 100 * 40)")
  //   padding-top (unit * 3)
