@import 'vars'

sidebarWidth = unit * 32

.docs
  background transparent
  @import 'sidebar'
  @import 'content'

  .loader
    fixed left top right
    background-color accent
    height unit
    z-index 1
  // .demo
  //   position fixed
  //   top unit * 3; right unit * 3; bottom: unit * 3
  //   width unquote("calc((100% - " + sidebarWidth + ") / 100 * 40)")
  //   padding-top (unit * 3)
