.markdown
  > p
  > div
  > ul
    margin unit * 1 0

  > ul
    padding 0 0 0 3 * unit

  @import 'headings'

  p
  ul
    code
      background-color darken(superlight, 1%)
      // box-shadow 0 0 0 1px ghost
      border-radius radius
      padding 0 4px 2px

  a
    box-shadow inset 0 -1px 0 rgba(link, .5)
    transition ease 0.2s
    text-decoration none
    padding-bottom 1px
    cursor pointer
    color link
    // & > code
    //   box-shadow 0 2px 2px rgba(link, .2)
    //   background-color link
    //   color white

  .syntax.light
    box-shadow 0 0 0 1px ghost
    background-color superlight
    border-radius radius
    font-size unit * 1.5
    position relative
    margin unit * 2 0
    overflow auto
    color #515A66
    padding 0

    code
      padding unit * 2 unit * 3
      overflow-y hidden
      overflow-x auto
      display block
