nav
  padding-bottom unit * 6
  font-size unit * 1.625
  overflow-x auto
  flex 1 1 auto
  margin 0

  ul
    padding 0
    margin 0

  .module
    padding-left unit * 4
    margin 0

    & + .module
      margin-top unit * 3

    .title
      text-transform uppercase
      font-size 1.25 * unit
      letter-spacing 1.5px
      font-weight 900
      color light

    li
      min-height unit * 3
      display block

      & > ul
        padding-left unit * 2
        display none

      & > a.active
        color accent
        & + ul
          display block

    li.article
      & > ul
        display block

    li.has-active > ul
      display block

    li.is-method
    li.reference
      & > a
        font-family 'Roboto Mono', monospace

    a
      margin-bottom (unit / 4)
      color lighten(dark, 10%)
      line-height unit * 3.75
      text-decoration none
      border-radius radius
      display inline-block
      position relative
      font-weight 500
      height 100%
      &:hover
        transition ease 0.2s
        color accent
