.pagination
  // box-shadow 0 0 0 1px ghost, 0 1px 3px ghost
  background-color superlight
  max-width contentWidth
  border-radius radius
  margin unit * 4 auto
  overflow hidden
  display flex

  .prev
  .next
    padding unit * 2 unit * 3
    text-decoration none
    transition .2s all
    flex-grow 1
    width 50%
    &:hover
      background-color accent
      .article
      .module
        transition .2s all
        color white

  .prev + .next
    box-shadow -1px 0 white, inset 1px 0 white

  .next
    text-align right

  .module
    color light
    font-weight 500

  .article
    font-size unit * 2.5
    color dark
