.api
  > p
  > div
  > ul
    margin unit * 2.5 0

  @import 'headings'

  .declaration
    box-shadow 0 0 0 1px ghost, 0 1px 2px ghost
    margin unit * 2 0 unit * 4
    padding 0 2.5 * unit
    transition ease 0.25s
    border-radius radius
    overflow hidden
    & > *
      border-bottom 1px solid ghost
      padding 1.5 * unit 0
      &:last-child
        border none

    .signature
      font-family 'Roboto Mono'
      color lighten(dark, 25%)
      font-size 2 * unit

      .arrow
        background no-repeat url('/imgs/arrow.svg') 50% 67%
        color transparent

      .name
        font-weight 600
        color dark

      .type
        color red

      .parameter
        color light-orange

      .static
        border 1px solid orange
        padding 0px 5px 2px 5px
        font-size 1.5 * unit
        border-radius radius
        margin-right unit
        font-weight 500
        color orange

    .types

      .parameters + .returns
        margin-top 1.5 * unit

      .parameters
      .returns
        .title
          text-transform uppercase
          line-height 2.5 * unit
          margin-top .25 * unit
          font-size 1.25 * unit
          letter-spacing 1.5px
          font-weight 900
          color light

        .name
          font-family 'Roboto Mono'
          color light-orange

        .type
          font-family 'Roboto Mono'
          color red

    .markdown
      > p
        &:first-child
          margin-top 0
        &:last-child
          margin-bottom 0
      .syntax
        margin-right -(unit * 3)
        margin-left -(unit * 3)
        border-radius 0
