.api
  > p
  > div
  > ul
    margin unit * 2.5 0

  @import 'headings'

  .declaration
    margin 0 0 unit * 2 0
    padding-top unit * 2
    transition ease 0.25s
    border-radius radius
    & > *
      margin 1.5 * unit 0

    .signature
      font-family 'Roboto Mono'
      color lighten(dark, 25%)
      font-size 2 * unit

      .arrow
        background no-repeat url('/imgs/arrow.svg') 50% 67%
        color transparent

      .name
        color light-orange
        font-weight 500

      .type
        color blue

      .parameter
        color purple

      .static
        border 1px solid orange
        padding 0px 5px 2px 5px
        font-size 1.5 * unit
        border-radius radius
        margin-right unit
        font-weight 500
        color orange

    .types
      padding 1.5 * unit 2 * unit
      box-shadow 0 0 0 1px ghost
      border-radius radius

      .parameters + .returns
        margin-top 1.5 * unit

      .parameters
      .returns
        .title
          text-transform uppercase
          line-height 2.5 * unit
          margin-top .25 * unit
          font-size 1.25 * unit
          letter-spacing 1.5px
          font-weight 900
          color light

        .name
          font-family 'Roboto Mono'
          color purple

        .type
          font-family 'Roboto Mono'
          color blue

      .markdown
        > p
          &:first-child
            margin-top 0
          &:last-child
            margin-bottom 0
