.declaration
  transition ease 0.25s
  border-radius radius
  overflow hidden

  .signature
    background-color transparent
    font-size 2 * unit
    font-family 'Roboto Mono'
    color lighten(dark, 25%)

    .arrow
      background no-repeat url('/imgs/arrow.svg') 50% 60%
      color transparent

    .name
      color light-orange
      font-weight 500

    .type
      color blue

    .parameter
      color purple

  .parameters
  .returns
    .title
      text-transform uppercase
      font-size 1.375 * unit
      letter-spacing 1.5px
      line-height 1.5 * unit
      margin 1.5 * unit 0
      font-weight 900
      color light
