@import 'vars'

.logo
  position relative
  > *
    position relative
    display block
    z-index 1

  .shadow
    background-image url('/imgs/shadow.png')
    height 146.5%; width 146.5%
    left -23.2%; top -14%
    background-size cover
    position absolute
    z-index 0

  .text
    margin-top unit
