.syntax
  overflow auto
  &.light
    color #515A66
    code
      overflow-y hidden
      overflow-x auto
      display block

    .function
      .title
        color light-orange

      // .params
      //   color purple

      .regular
        color #515A66

    .subst
      color #515A66

    .operator
    .keyword
      color orange

    .comment
      color #ABB0B6

    .built_in
      color blue

    .string
      color green

    .regexp
      color turquoise

    .title
      color blue

    .attr
      color green

    .number
    .literal
      color purple

    .regular
      color #515A66

    .minor-title
      color red

    .type-returns
      color transparent
      background no-repeat url('/imgs/arrow.svg') 50% 60%

    .params
      .minor-title
        color turquoise

  &.mirage
    color #D9D7CE
    code
      overflow-y hidden
      overflow-x auto
      display block

    .function
      .title
        color #FFD57F

      // .params
      //   color purple

      .regular
        color #D9D7CE

    .subst
      color #D9D7CE

    .operator
    .keyword
      color #FFAE57

    .comment
      color #5C6773

    .built_in
      color #5CCFE6

    .string
      color #BBE67E

    .regexp
      color #95E6CB

    .title
      color #5CCFE6

    .attr
      color #BBE67E

    .number
    .literal
      color #D4BFFF

    .regular
      color #D9D7CE

    .minor-title
      color #F07178

    .type-returns
      color transparent
      background no-repeat url('/imgs/arrow.svg') 50% 60%

    .params
      .minor-title
        color #95E6CB
