unit         = 8px
radius       = 2px
rhytm        = unit * 3

ghost        = rgba(#000, .05)
superlight   = #FAFAFA
light        = #B3B3B3
dark         = #333333
black        = #212121
accent       = #F86F6F
link         = accent

orange       = #FF7733
blue         = #36A3D9
red          = #F07178
green        = #86B300
turquoise    = #4CBF99
purple       = #A37ACC
light-orange = #F29718
yellow       = #E7C547
