unit         = 8px
radius       = 3px
rhytm        = unit * 3 + 2

ghost        = rgba(#000, .05)
superlight   = #FBFBFB
light        = #B1B5BA
dark         = #373e42
black        = #212121
accent       = #F86F6F
link         = accent

orange       = #FF7733
blue         = #36A3D9
red          = #F07178
green        = #86B300
turquoise    = #4CBF99
purple       = #A37ACC
light-orange = #F29718
yellow       = #E7C547
